#ProfilePic {
  border-radius: 200px;
  float: left;
 
  margin-top: auto;
  margin-right: 20px;
  position: relative;
} 


.container {
  margin-top: 30px;
  margin-bottom: 100px;
}

.card {
  box-shadow: 5px 10px 8px 10px #888888;
  /* margin: 200px; */
}

.paragraph {
  padding-left: 20px;
  margin-right: 15px;
}

.footer {
  text-align: center;
}
