.nav{
    margin-top: 10px;
align-content: center;

justify-self: center;}

/* .logo{
    margin-right: 100px;
    width: 100px;
    height: 100px;
}
*/

.nav-item{
    margin-bottom: 0px; 
    margin-left: 25px;
justify-self: center;} 